<div id="signup" class="container-fluid">
  <div class = "vtext">
<h1>Credit Karma gives you a credit score,<br>
    CrededX helps you get Credit Approved. </h1><p>
   <p>With our online credit course in just one month.</p>
  <%= render 'layouts/simpleForm' %>
  </div>
</div>