<%# signup container-background img begins %>

<div id="signup" class="container-fluid">
  <%# signup copy with simpleform begins %>
  
    <p>Credit Karma gives you a credit score</p>
    <p>CrededX helps you get Approved</p><br>
    <h2>Establishing or Rebuilding</h2>
    <h2>This One Month Credit Course is for you!</h2><br>
    <%= render 'layouts/simpleForm' %>
  </div>
  <%# signup copy with simpleform ends %>
 

<%# signup container-background img ends %>


<%#<div id="footer" class="container">
   #<h1> Welcome to CrededX </h1>
   #Credit Karma gives you a credit score,
    #CrededX helps you get Credit Approved.<p>
#</div> 
%>  
<%
#<script type="text/javascript">
#mixpanel.track("f.button");
#</script>
%>