<%# navbar begins %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://crededx.herokuapp.com/">
        <%= image_tag("greylogo.png", width: '180', height: '37', alt:'Crededx', class: "logo") %> 
      </a>
    </div>
  </div>
</nav>
<%# navbar ends %>   

